In [1]:
#Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier as knc
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("bank-additional-full.csv",sep=";")
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [18]:
df.to_excel('bankk.xlsx')

In [19]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [20]:
for i in df.columns:
    if (df[i].dtype=='O'):
        print(i,":",df[i].unique(),"\n")

job : ['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']

marital : ['married' 'single' 'divorced' 'unknown']

education : ['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']

default : ['no' 'unknown' 'yes']

housing : ['no' 'yes' 'unknown']

loan : ['no' 'yes' 'unknown']

contact : ['telephone' 'cellular']

month : ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']

day_of_week : ['mon' 'tue' 'wed' 'thu' 'fri']

poutcome : ['nonexistent' 'failure' 'success']

y : ['no' 'yes']

In [21]:
for i in df.columns:
    if (df[i].dtype=='O') & (i!='y'):
        a=pd.get_dummies(df[i],drop_first=True)
        df=df.drop(i,axis=1)
        df=pd.concat([a,df],axis=1)

In [22]:
df

,nonexistent,success,mon,thu,tue,wed,aug,dec,jul,jun,...,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,1,0,1,0,0,0,0,0,0,0,...,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
1,1,0,1,0,0,0,0,0,0,0,...,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
2,1,0,1,0,0,0,0,0,0,0,...,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
3,1,0,1,0,0,0,0,0,0,0,...,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
4,1,0,1,0,0,0,0,0,0,0,...,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,1,0,0,0,0,0,0,0,0,0,...,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,1,0,0,0,0,0,0,0,0,0,...,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,no
41185,1,0,0,0,0,0,0,0,0,0,...,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,no
41186,1,0,0,0,0,0,0,0,0,0,...,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,0,0,0,0,0,0,0,0,0,0,...,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,no

In [23]:
#Independent Variable
X = df.drop(['y'], axis=1)
#Dependent Variable
y = df[['y']]

In [24]:
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [33]:
from sklearn import svm as svm
sv = svm.SVC(C=3,gamma=0.05,kernel='linear')
sv.fit(X_train, Y_train)
sv.fit(X_test, Y_test)

C:\Users\ashwi\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\ashwi\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVC(C=3, gamma=0.05, kernel='linear')

In [34]:
sv.score(X_train,Y_train)

0.8943854324734446

In [35]:
sv.score(X_test,Y_test)

0.9021607186210245

In [32]:
from sklearn.model_selection import GridSearchCV
 
param_grid = {'C': [1],
              'gamma': [1, 0.1, 0.01, 0.001],
              'kernel': ['linear']}
 
grid = GridSearchCV(svm.SVC(), param_grid, refit = True, verbose = 3)
grid.fit(X_train, Y_train)

"from sklearn.model_selection import GridSearchCV\n \nparam_grid = {'C': [1],\n              'gamma': [1, 0.1, 0.01, 0.001],\n              'kernel': ['linear']}\n \ngrid = GridSearchCV(svm.SVC(), param_grid, refit = True, verbose = 3)\ngrid.fit(X_train, Y_train)"